<%- include('./components/header.ejs', {title: "Login"}) %>
    <form action="/login" method="POST">
        <div>
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>Role</label>
            <select name="role">
                <option selected disabled>Select Role</option>
                <option value="doctor">Doctor</option>
                <option value="patient">Patient</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Log In">
            <input type="reset" value="Cancel">
        </div>
        <div>
            <a href="/register">Create New Account</a>
        </div>
    </form>
    <% errorList.forEach((element) =>{ %>
        <p><%= element %></p>
    <% }) %>
<%- include('./components/footer.ejs') %>